@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{

    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <a asp-area="Identity" asp-page="/Account/Manage/Index" class="icon icon-sm rounded-circle border"><i class="fa fa-user"></i></a>
        <button class="icon icon-sm rounded-circle border" type="submit"><i class="fas fa-sign-out-alt"></i></button>
    </form>
}
else
{
    <div>
        <a asp-area="Identity" asp-page="/Account/Login">Entrar</a> |
        <a asp-area="Identity" asp-page="/Account/Register">Registrar</a>
    </div>
}
